<div class="footer">
    <div class="container">
        <div class="footer_bottom">
            <div class="left">
                <span>© 2023 Newroom, Inc.</span>
                <ul>
                    <li>Privacy</li>
                    <li>Terms</li>
                    <li>Sitemap</li>
                </ul>
            </div>
            <div class="right">
                <div class="icons">
                    <div class="icon">
                        <i class="icon-country"></i>
                        <span>한글 (KR)</span>
                    </div>
                    <div class="icon">
                        ₩
                        <span>원</span>
                    </div>
                </div>
                <div class="social">
                    <i class="icon-facebook"></i>
                    <i class="icon-twitter"></i>
                    <i class="icon-instagram"></i>
                </div>
            </div>
        </div>
    </div>
</div>