<div class="shadow"></div>
    <div class="main">
        <div class="container">
            <div class="resim">
                <img src="https://korean.visitseoul.net/comm/getImage?srvcId=MEDIA&parentSn=56891&fileTy=MEDIA&fileNo=1" alt="" />
            </div>
            <div class="header">
                <div class="logo"><a href="./main_index.html"><img src="./layout/logo.png" alt="" style="width:50px;height:40px"/></a></div>
            </div>
            <div class="menu2">
                
            </div>
            <div class="mobile_form">
                <label for="">
                    <i class="icon-search"></i> 어디로 가세요?</label><input type="text" />
            </div>
            <div class="formm">
                <div class="form">
                    <div class="form_item input1">
                        <label for="">목적지</label>
                        <input type="text" placeholder="어디로 가세요?" />
                    </div>
                    <div class="seperator"></div>
                    <div class="form_item input2">
                        <label for="">체크인</label>
                        <input type="text" placeholder="날짜 입력" />
                    </div>
                    <div class="seperator"></div>

                    <div class="form_item input3">
                        <label for="">체크아웃</label>
                        <input type="text" placeholder="날짜 입력" />
                    </div>
                    <div class="seperator"></div>

                    <div class="form_item input4">
                        <div class="item">
                            <label for="">게스트</label>
                            <input type="text" placeholder="게스트 추가" />
                        </div>
                        <div class="form_item form_button">
                            <i class="icon-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom_menu">
                <div class="menu_items">
                    <div class="menu_item active">

                        <i class="icon-search"></i>
                        <span>익스플로어</span>
                    </div>
                    <div class="menu_item">ㄴ
                        <i class="icon-heart"></i>
                        <span>위시리스트</span>
                    </div>
                    <div class="menu_item">

                        <i class="icon-user"></i>
                        <span>로그인</span>
                    </div>
                </div>
            </div>
        </div>
    </div>