<div class="menu_other">
    <div class="container">
        <div class="logo2">
            <a href="./main_index.html">
                <img src="./layout/logo.png" alt="" style="width:50px;height:40px"/>
            </a>
        </div>
    </div>
</div>

<div class="menu_mobile">
    <div class="container">
        <div class="menu_mobile_left">
            <a href="./main_index.html">
                <img src="./layout/logo.png" alt="" style="width:50px;height:40px"/>
            </a>
        </div>
    </div>
</div>